
.blog{/*
	.hero.bg-scroll-img{
		background-image:url(assets/img/hero-imgs/hero-bg.jpg);
		&:before{
			position: absolute;
			height: 100%;
			width: 100%;
			background: black !important;
			content: "";
			left: 0;
			top: 0;
			opacity: 0.3;
		}
		.wrapper{
			position: relative;
		}
		section{
			background:$grey;
		}
	}
	.main-header{
		.wrapper{
			color: white;
			background-color:darken($grey-dark,20%);
		}
		.real-time-info{
			background:$grey-dark;
		}
	}
	.main-footer{
		background-color:darken($grey-dark,20%);
		.wrapper,
		a{
			color:white;
		}
		.copyright-notice{
			background:$grey-dark;
		}
	}*/
}
