
$parade-img-width:1550px;
.home{

	.hero {
		//text-shadow: 0 2px 3px #555;
		padding-bottom: 6.4rem;
		height:900px;
		.wrapper{
			padding-top:0;
		}
		h1{
			@include transform(rotate(-2deg));
		}
		@media only screen and (max-width:$promo-break-point) {
			h1 {
				font-size:7rem;
			}
		}

		.parade{
			position: absolute;
			bottom:-223px;
			right: -100px;//-1500px;
			height: 100%;
			width:auto;

			&.e-award {
				right: -1500px;
				@include transition(all 1.4s ease-out);
			}
			&.confetti {
				right: -1500px;
				@include transition(all 1.2s ease-out);
			}
			&.ele,
			&.afroman {
				@include transition(all 1s ease-out);
				-webkit-transition-delay: 1s; /* Safari */
				transition-delay: 1s;
			}
			&.band {
				@include transition(all 1s ease-out);
				-webkit-transition-delay: 1.2s; /* Safari */
				transition-delay: 1.2s;
			}
			&.handstand {
				@include transition(all 1.4s ease-out);
				-webkit-transition-delay: 1.4s; /* Safari */
				transition-delay: 1.4s;
			}
			&.lift-girls {
				right: -150px;
				@include transition(all 2s ease-out);
				-webkit-transition-delay: 1.2s; /* Safari */
				transition-delay: 1.2s;
			}
			&.giraffe {
				@include transition(all 2s ease-out);
				-webkit-transition-delay: 1s; /* Safari */
				transition-delay: 1s;
			}

			&.come-in,
			&.already-visible {
				right:0;
			}

			&.lift-girls.come-in,
			&.lift-girls.already-visible {
				right:-3%;
			}
		}
	}

	@media only screen and (min-width:$parade-img-width) {
		.hero{
			margin-top: -140px;
			padding-top: 140px;
		}
	}
	@media only screen and (max-width:$nav-break-point) and (min-width:$mobile-break-point) {
		.hero{
			margin-top: -90px;
			padding-top: 90px;
		}
	}
	@media only screen and (max-width:$parade-img-width) {
		.hero{
			height:650px;
			.parade{
				max-width:100%;
				height:auto;
				bottom: 0%;
				margin-bottom: -13.3%;
			}
		}
	}
	@media only screen and (max-width:$nav-break-point) {
		.hero{
			height:680px;
			.parade{
				max-width:120%;
				margin-bottom: -15.9%;
			}
		}
	}
	@media only screen and (max-width:$promo-break-point) {
		.hero{
			height:580px;
			.parade{
				max-width:initial;
				width:960px;
				margin-bottom: -127px;
				&.ele,
				&.lift-girls,
				&.lift-girls {
					left:-150px;
				}
				&.band,
				&.handstand {
					left:-190px;
				}
				&.confetti{
					bottom:70px;
				}
			}
		}
	}
	@media only screen and (max-width:$mobile-break-point+50) {
		.hero{
			.parade{
				&.afroman.come-in,
				&.afroman.already-visible {
					right:-50px;
				}
			}
		}
	}

	.vital-stats {
		background: $green-dark;
		color: white;
		h2{
			margin-top:1rem;
			margin-bottom:2rem;
			font-size: 9rem;
			@include transform(rotate(-3degs))
		}
		p {
			font-size: 4rem;
			margin-top:-6rem;
			white-space: nowrap;
			opacity: 0;
		}
		.wrapper{
			display: block;
			padding: 5rem 0;
		}
		.stat{
			@include transition(all 1s ease-out);
			-webkit-transition-delay: 1.5s; /* Safari */
			transition-delay: 1.5s;
			text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
			font-size: 10rem;
			line-height:initial;
			font-weight: 600;
			font-family: $font-lato;
			opacity: 0;
			white-space: nowrap;
			.stat-small{
				font-size: 6rem;
				color: $yellow;
			}
			@media only screen and (max-width:$mobile-break-point+60) {
				font-size: 8rem;
			}
		}
		.vital-stat-timestamp{
			opacity: 0.3;
			font-size: 1.5rem;
		}
		.btn{
			width:270px;
			margin-top:-200px;
		}

		.slick-slide{
			min-height:180px;
			&.slick-current{
				.stat{
					opacity: 1;
				}
				p{
					animation: live-stat-label normal forwards ease-in-out 4s;
				}

				@keyframes live-stat-label {
					0% {
						margin-top:-6rem;
						opacity: 0;
						@include transform(scale(0));//font-size: 2.5rem;
					}
					25% {
						margin-top:-6rem;
						opacity: 1;
						@include transform(scale(1));//font-size: 4rem;
					}
					50% {
						margin-top:1rem;
					}
					80% {
						opacity: 1;
					}
					90% {
						margin-top:1rem;
						opacity: 0;
						@include transform(scale(1));//font-size: 4rem;
					}
				}
			}

			@media only screen and (max-width:$promo-break-point) {
				min-height: initial;
				height: 150px;
			}
			@media only screen and (max-width:$mobile-break-point+60) {
				height: 130px;
			}

		}
		@media only screen and (max-width:$mobile-break-point) {
			.slider{
				padding:0;
			}
		}
		@media only screen and (max-width:1000px) {
			h2{
				font-size: 6rem;
			}


			.btn{
				display: block;
				float:none;
				margin:16px auto;

			}

		}
	}


	.four-pillars{
		h5{
			margin-bottom:0;
		}
		.wrapper {
			position: relative;
			max-width:1000px;
			padding:5rem 0 3rem 0;
		}
		.copy-container{
			position: absolute;
			top:140px;
			width:100%;
			padding: 0 16px;
		}
		.copy-block{
			@extend .cf-group;
			margin-top:150px;
		}
		.copy{
			float:right;
			max-width:280px;
			&:nth-child(even){
				float:left;
			}
			h5{
				color: $green;//#2f8b26;
			}
		}

		@media only screen and (max-width:$promo-break-point) {
			.copy-container{
				position: relative;
				top:0;
			}
			.copy-block{
				margin-top:0;
			}
			.copy{
				width:48%;
			}
		}
		@media only screen and (max-width:$mobile-break-point) {
			.copy-container{
				padding:0;
			}
			.copy,
			.copy:nth-child(2n){
				float: none;
				width:100%;
				margin-left:auto;
				margin-right:auto;
				text-align: center;
			}
		}

		.bird-man{
			text-align: center;
			background:url(assets/img/bird-man-thomas.png) no-repeat center center;
			background-size: contain;
			height: 750px;
			.bird {
				position: absolute;
				left:50%;
				margin-top:-11px;
				@include transition(all 2s ease-in-out);
				-webkit-transition-delay: 500ms; /* Safari */
				transition-delay: 500ms;
				&.bird-L1{
					margin-left:-220px;
					&.come-in,
					&.already-visible {
						margin-left: -260px;
					}
				}
				&.bird-R1{
					margin-left:-260px;
					&.come-in,
					&.already-visible {
						margin-left: -220px;
					}
				}
			}
			.bird-man-caption{
				margin: 0 auto;
				padding-top:28.5rem;
				h1,h2{
					margin:0;
					line-height: 0.9em;
				}
				h1{
					font-size: 13rem;
					text-shadow: 1px 1px 1px rgba(255,255,255,0.6),
								 -1px -1px 1px rgba(255,255,255,0.6);
				}
				h2{
					color: $yellow;
					font-size: 5rem;
					&:first-child{
						color: $black;
						font-size: 7rem;
						text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
					}
				}
			}
			@media only screen and (max-width:$promo-break-point) {
				height: 600px;
				transform: scale(.8);
				margin-top: -60px;
				margin-bottom: -100px;
				@include transform(scale(0.8));
			}
		}
		@media only screen and (max-width:$promo-break-point) {
			.btn{
				margin-top: 40px;
			}
		}
	}


	.unforgettable{
		position: relative;
		overflow:hidden;
		padding-top:6rem;
		color:white;
		background-color:$green;
		background-image:url(assets/img/hero-imgs/hero-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50%;

		.wrapper{
			position: relative;
			display: inline-block;
			max-width: 800px;
			padding-top: 0;
			padding-bottom: 6rem;
		}
		h2{
			margin-top:3rem;
			margin-bottom: 3.2rem;
			position: relative;
		}
		.elle{
			@include transition(all 1.5s ease-out);
			-webkit-transition-delay: 500ms; /* Safari */
			transition-delay: 500ms;

			position: absolute;
			bottom:0;
			&.elle-left{
				left:-50px;
				&.come-in,
				&.already-visible {
					left:0;
				}
			}
			&.elle-right{
				right:-50px;
				&.come-in,
				&.already-visible {
					right:0;
				}
			}
		}
		.parrot,
		.elle-left-with-flag{
			position: absolute;
			display: none;
		}
		.parrot{
			right:0;
			top:80px;

			width:100%;
			max-width: 150px;
		}
		.elle-left-with-flag{
			left:0;
			top:-80px;

			width:100%;
			max-width: 375px;
		}
		@media only screen and (max-width:$promo-break-point) {
			overflow: visible;
			padding-top:18rem;
			margin-top: 80px;
			.elle{
				display: none;
			}
			.elle-left-with-flag{
				display: inline-block;
				left:0;
			}
			.parrot{
				display: inline-block;

			}
		}
	}


	.clients-panel{
		text-align:center;
		.wrapper{
			display: inline-block;
			padding-top:7rem;
			padding-bottom:8rem;
		}
		.logos,
		.awards{
			padding-left:0;
			li{
				list-style-type: none;
				display: inline-block;
			}
			img{
				width: 100%;
				vertical-align: middle;
				&:hover{
				}
			}
		}
		.logos li{
			padding: 10px;
			max-width: 145px;
		}
		.awards li{
			padding:20px;
		}
		@media only screen and (max-width:950px) {
			.logos,
			.awards{
				max-width:700px;
				margin:0 auto;
			}
		}
		@media only screen and (max-width:500px) {
			.logos li,
			.awards li{
				width:25%;
				padding:8px 10px;
			}
		}
	}


	.locations{
		text-align:center;
		background-color:$grey-light;
		overflow:hidden;
		.wrapper{
			display: inline-block;
			padding-bottom:6rem;
		}
	}

	@media only screen and (max-width:$promo-break-point) {
		.flag-hr{
			display: none;
		}
	}
	.flag-hr{
		background:transparent;
		position: relative;
		margin-bottom:-76px;
		z-index: 1;
	}
}
