
$parade-img-width:1550px;
.home{


	.hero {
		//text-shadow: 0 2px 3px #555;
		//padding-bottom: 6.4rem;
		height:550px;
		.wrapper{
			padding-top:3rem;
			padding-bottom:5rem;
		}
		h1{
			@include transform(rotate(-1deg));
			margin-top: 0;
			margin-bottom: 1rem;
			font-size:7rem;
			line-height:1.6em;
		}
		h4{
			margin-top: 1.6rem;
		}
		@media only screen and (max-width:$promo-break-point) {
			h1 {
				font-size:6rem;
			}
		}


		.wrap{
			position: relative;
			img {

			    max-width: 70%;
			    max-height: 70%;

			    margin: auto;
			    position: absolute;
			    top: 0; left: 0; bottom: 0; right: 0;
			}
		}


		.parade{
			position: absolute;
			bottom:-170px;
			right:0; //right: -100px; ANIIMATION REMOVED
			height: 125%;
			width:auto;

			&.confetti {
				right: -50px;
				@include transition(all 1.2s ease-out);
			}
			&.giraffe {
				bottom: -100px;
			}
			&.ele,
			&.ele.come-in,
			&.ele.already-visible {
				left: 50%;
				margin-left:-630px;
			}
			&.band,
			&.band.come-in,
			&.band.already-visible {
				left: 50%;
				margin-left:-560px;
			}
			&.afroman,
			&.afroman.come-in,
			&.afroman.already-visible {
				left: 50%;
				margin-left:-540px;
			}
			/* ANIIMATION REMOVED
			&.ele {
				@include transition(all 1s ease-out);
				-webkit-transition-delay: 1s;
				transition-delay: 1s;
			}
			&.come-in,
			&.already-visible {
				right:0;
			} */
			@media only screen and (min-width:$promo-break-point+1) {
				&.handstand{
					background:url(assets/img/parade-handstand.png) no-repeat center center;
	    			background-size: contain;
					left: 50%;
					width: 1283px;
					margin-left:-520px;
				}
			}
			@media only screen and (min-width:$nav-break-point+1) {
				&.car-man{
					background:url(assets/img/car-man.png) no-repeat center center;
	    			background-size: contain;
					left: 50%;
					width: 1283px;
					margin-left:-440px;
				}
			}
		}
	}
	@media only screen and (max-width:$nav-break-point) {
		.hero{
			height:500px;
			.parade{
			    bottom: -155px;
			    &.ele,
			    &.ele.already-visible,
			    &.ele.come-in {
    				margin-left: -600px;
			    }
				&.handstand{
					width: 1166px;
				}
			}
		}
	}
	@media only screen and (max-width:$promo-break-point) {
		.hero{
			height:450px;
			.parade{
				height:auto;
				bottom: 0%;
				max-width:initial;
				width:960px;
				margin-bottom: -127px;
			    &.ele,
			    &.ele.already-visible,
			    &.ele.come-in {
					margin-left: 0;
					left: -20%;
				}
			    &.giraffe.already-visible,
			    &.giraffe.come-in {
					bottom: 70px;
				}
			    &.band,
			    &.band.already-visible,
			    &.band.come-in {
				    margin-bottom: -140px;
				    margin-left: 0;
				    left:-170px;
				}
				&.car-man{
					background:url(assets/img/car-man.png) no-repeat center center;
					background-size: contain;
					left: 50%;
					width: 860px;
					height: 464px;
					margin-left:0;
					left:-170px;
				}
			}
		}
	}
	@media only screen and (max-width:700px) {
		.hero{
			height:470px;
			.parade{
			    &.ele,
			    &.ele.already-visible,
			    &.ele.come-in {
					left: -150px;
				}
			}
		}
	}
	@media only screen and (max-width:525px) {
		.hero{
			h1{
				font-size: 4.5rem;
			}
			.parade{
			    &.giraffe.already-visible,
			    &.giraffe.come-in {
					bottom: 90px;
				}
			    &.band,
			    &.band.already-visible,
			    &.band.come-in {
					left:-350px;
				}
				&.afroman,
				&.afroman.come-in,
				&.afroman.already-visible {
					margin-left:0;
				    left:-430px;
				}
				&.car-man{
					left: 0;
					margin-left:-660px;
				}
			}
		}
	}

	.vital-stats {
		background: $green-dark;
		color: white;
		h2{
			font-family: $font-lato;
			margin-top:1rem;
			margin-bottom:2rem;
			font-size: 5rem;
		}
		p {
			font-size: 3.5rem;
			margin-top:-6rem;
			white-space: nowrap;
			opacity: 0;
		}
		.wrapper{
			display: block;
			padding: 5rem 0 0 0;
		}
		.stat{
			@include transition(all 1s ease-out);
			-webkit-transition-delay: 1.5s; /* Safari */
			transition-delay: 1.5s;
			text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
			font-size: 8rem;
			line-height:initial;
			font-weight: 600;
			font-family: $font-lato;
			opacity: 0;
			white-space: nowrap;
			.stat-small{
				font-size: 6rem;
				color: $yellow;
			}
			@media only screen and (max-width:$mobile-break-point+60) {
				font-size: 8rem;
			}
		}
		.vital-stat-timestamp{
			opacity: 0.3;
			font-size: 1.5rem;
		}
		@media only screen and (min-width:$nav-break-point) {
			.slider {
				width:50%;
				margin-right:10%;
				float:right;
				padding-left:0;
				padding-right:0;
			}
			h2{
				width:40%;
				float:left;
				font-size: 45px;
				text-align: right;
				margin-top:36px;
			}
			.slick-dots{
				margin-left: -60%;
			}

		}
		.slick-slide{
			min-height:160px;
			&.slick-current{
				.stat{
					opacity: 1;
				}
				p{
					animation: live-stat-label normal forwards ease-in-out 4s;
				}

				@keyframes live-stat-label {
					0% {
						margin-top:-4rem;
						opacity: 0;
						//@include transform(scale(0));//font-size: 2.5rem;
					}
					25% {
						margin-top:-4rem;
						opacity: 1;
						//@include transform(scale(1));//font-size: 4rem;
					}
					50% {
						margin-top:1rem;
					}
					80% {
						opacity: 1;
					}
					90% {
						margin-top:1rem;
						opacity: 0;
						@include transform(scale(1));//font-size: 4rem;
					}
				}
			}
			@media only screen and (max-width:$promo-break-point) {
				min-height: initial;
				height: 150px;
			}
			@media only screen and (max-width:$mobile-break-point+60) {
				height: 130px;
			}

		}
		@media only screen and (max-width:$mobile-break-point) {
			.slider{
				padding:0;
			}
		}
		@media only screen and (max-width:1000px) {
			h2{
				font-size: 4rem;
			}
			.button{
				display: block;
				float:none;
				margin:16px auto;
			}
		}
	}

	.four-pillars{
		h2{
			margin-bottom:0;
		}
		h5{
			max-width:800px;
		}
		.wrapper {
			position: relative;
			max-width:1000px;
			padding:5rem 0 3rem 0;
		}
		.copy-container{
			position: absolute;
			top:140px;
			width:100%;
			padding: 0 16px;
		}
		.copy-block{
			@extend .cf-group;
			margin-top:150px;
			&:last-of-type{
				margin-top:50px;
			}
		}
		.copy{
			float:right;
			max-width:280px;
			&:nth-child(even){
				float:left;
			}
		}

		@media only screen and (max-width:$promo-break-point) {
			.copy-container{
				position: relative;
				top:0;
			}
			.copy-block,
			.copy-block:last-of-type{
				margin-top:0;
			}
			.copy{
				width:48%;
			}
		}
		@media only screen and (max-width:$mobile-break-point) {
			.copy-container{
				padding:0;
			}
			.copy,
			.copy:nth-child(2n){
				float: none;
				width:100%;
				margin-left:auto;
				margin-right:auto;
				text-align: center;
			}
		}

		.bird-man{
			text-align: center;
			background:url(assets/img/bird-man-thomas.png) no-repeat center center;
			background-size: contain;
			height: 630px;
			.bird {
				position: absolute;
				left:50%;
				margin-top:-11px;
				@include transition(all 2s ease-in-out);
				-webkit-transition-delay: 500ms; /* Safari */
				transition-delay: 500ms;
				&.bird-L1{
					margin-left:-220px;
					&.come-in,
					&.already-visible {
						margin-left: -260px;
					}
				}
				&.bird-R1{
					margin-left:-260px;
					&.come-in,
					&.already-visible {
						margin-left: -220px;
					}
				}
			}
			@media only screen and (max-width:$promo-break-point) {
				height: 600px;
				transform: scale(.8);
				margin-top: -60px;
				margin-bottom: -100px;
				@include transform(scale(0.8));
			}
		}
		@media only screen and (max-width:$promo-break-point) {
			.button{
				margin-top: 40px;
			}
		}
	}


	.unforgettable{
		position: relative;
		overflow:hidden;
		padding-top:6rem;
		color:white;
		background-color:$green;
		background-image:url(assets/img/hero-imgs/hero-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50%;

		.wrapper{
			position: relative;
			display: inline-block;
			max-width: 800px;
			padding-top: 0;
			padding-bottom: 6rem;
		}
		h2{
			font-size: 6rem;
			margin-top:3rem;
			margin-bottom: 3.2rem;
			position: relative;
		}
		.elle{
			@include transition(all 1.5s ease-out);
			-webkit-transition-delay: 500ms; /* Safari */
			transition-delay: 500ms;

			position: absolute;
			bottom:0;
			&.elle-left{
				left:-50px;
				&.come-in,
				&.already-visible {
					left:0;
				}
			}
			&.elle-right{
				right:-50px;
				&.come-in,
				&.already-visible {
					right:0;
				}
			}
		}
		.parrot,
		.elle-left-with-flag{
			position: absolute;
			display: none;
		}
		.parrot{
			right:0;
			top:80px;

			width:100%;
			max-width: 150px;
		}
		.elle-left-with-flag{
			left:0;
			top:-80px;

			width:100%;
			max-width: 375px;
		}
		@media only screen and (max-width:$promo-break-point) {
			overflow: visible;
			padding-top:18rem;
			margin-top: 80px;
			.elle{
				display: none;
			}
			.elle-left-with-flag{
				display: inline-block;
				left:0;
			}
			.parrot{
				display: inline-block;

			}
		}
	}


	.clients-panel{
		text-align:center;
		.wrapper{
			display: inline-block;
			padding-top:7rem;
			padding-bottom:8rem;
		}
		h2{
			font-size: 6rem;
			max-width:600px;
			margin-left: auto;
			margin-right: auto;
		}
		.logos,
		.awards{
			padding-left:0;
			li{
				list-style-type: none;
				display: inline-block;
				filter: grayscale(100%);
				opacity: .8;
				@include transition(all 300ms ease-out);
				&:hover{
					filter: none;
					opacity: 1;
				}
			}
			img{
				width: 100%;
				vertical-align: middle;
				&:hover{
				}
			}
		}
		.logos li{
			padding: 10px;
			max-width: 145px;
		}
		.awards li{
			padding:20px;
		}
		@media only screen and (max-width:950px) {
			.logos,
			.awards{
				max-width:700px;
				margin:0 auto;
			}
		}
		@media only screen and (max-width:500px) {
			.logos li,
			.awards li{
				width:25%;
				padding:8px 10px;
			}
		}
	}


	.locations{
		text-align:center;
		background-color:$grey-light;
		overflow:hidden;
		.wrapper{
			display: inline-block;
			padding-bottom:6rem;
			> h2{
				max-width:500px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.who-we-are{
		.wrapper{
			padding-bottom:0;
		}
		img{
			max-width:50%;
		}
		.copy{
			margin-top:3rem;
			margin-bottom:3rem;
			p{
				@extend .serif;
			}
		}
	}

	.flag-hr{
		background:transparent;
		position: relative;
		margin-bottom:-76px;
		z-index: 1;
		@media only screen and (max-width:$promo-break-point) {
			display: none;
		}
	}

	@media only screen and (max-width:$promo-break-point) {
		.unforgettable h2,
		.clients-panel h2,
		.locations h2,
		.who-we-are h2 {
			font-size: 4rem;
		}
	}
}
