
.pricing{

//	@-webkit-keyframes float {
//		from { -webkit-transform: rotate(0deg) translateX(20px) rotate(0deg); }
//		to   { -webkit-transform: rotate(360deg) translateX(20px) rotate(-360deg); }
//	}
//	@-moz-keyframes float {
//		from { -moz-transform: rotate(0deg) translateX(20px) rotate(0deg); }
//		to   { -moz-transform: rotate(360deg) translateX(20px) rotate(-360deg); }
//	}
//	@-o-keyframes float {
//		from { -o-transform: rotate(0deg) translateX(20px) rotate(0deg); }
//		to   { -o-transform: rotate(360deg) translateX(20px) rotate(-360deg); }
//	}
	@keyframes float {
		from { transform: rotate(0deg) translateX(20px) rotate(0deg); }
		to   { transform: rotate(360deg) translateX(20px) rotate(-360deg); }
	}
	.hero-container h5{
		margin-bottom:1.7em;
	}
	.hero {
		padding-bottom: 4rem;
		h1{
			font-size: 12rem;//34rem;
			line-height: 13rem;//20rem;
			@include transform(rotate(-10deg));
		}
		.parade{
			position: absolute;
			z-index: 2;
			left:50%;
			margin-left:-770px;

			&.confetti {
				@include transition(all 2s ease-out);
				-webkit-transition-delay: 1s; /* Safari */
				transition-delay: 1s;
				z-index: 0;
				bottom:0;
				left:50%;
				margin-left:-720px;
				transform-origin: 50% 100%;
				@include transform(scale(.8));
			}
			&.balloon {
				@include transition(all 2s ease-in-out);
				-webkit-transition-delay: 1s; /* Safari */
				transition-delay: 1s;
				@include transform(scale(.9));
				z-index: 0;
			    bottom: -385px;
			}
			&.giraffe {
				@include transition(all 1s ease-out);
				-webkit-transition-delay: 1s; /* Safari */
				transition-delay: 1s;
				transform-origin: 70% 74%;
				@include transform(scale(.9));
				z-index: 2;
				margin-left:-490px;
				bottom:-156px;
			}
			&.butterfly {
				bottom:-215px;
//			-webkit-animation: float 14s linear infinite;
//			   -moz-animation: float 14s linear infinite;
//				 -o-animation: float 14s linear infinite;
					animation: float 14s linear infinite;
			}

			&.come-in,
			&.already-visible {
				&.giraffe {
					@include transform(scale(1));
				}
				&.confetti {
					@include transform(scale(1));
				}
				&.balloon {
					@include transform(scale(1));
				}
			}
		}
		@media only screen and (max-width:$promo-break-point) {
			padding-bottom:3rem;
			.parade.butterfly{
    			margin-left: -570px;
				height: 555px;
			}
			.parade.balloon,
			.parade.giraffe {

				height: 425px;
				bottom: 0;
				margin-left: auto;
				right: -150px;
				margin-bottom: -111px;
			}

		}
	}

	.what-you-get{
		.wrapper{
			position: relative;
			.pricing-bird{
				position: absolute;
				z-index: 0;
				left: 20px;

//			-webkit-animation: float 14s linear infinite;
//			   -moz-animation: float 14s linear infinite;
//				 -o-animation: float 14s linear infinite;
					animation: float 14s linear infinite;


				@media only screen and (max-width:$promo-break-point) {
					width:200px;
				}
				@media only screen and (max-width:$mobile-break-point+100) {
					top:200px;
				}
			}
		}
	}

	.flag-hr{
		position: relative;
    	z-index: 1;
		background: linear-gradient(to bottom, $off-white 0%,$off-white 55%,$off-white 55%,transparent 55%,transparent 100%);
		margin-bottom: -77px;
		margin-top:-30px;
	}

	.how-pricing-works{
		position: relative;
		h5{
			margin-bottom:1.7em;
		}
		.top-section{
			text-align: center;
			padding-top:3rem;
			padding-bottom:305px;
			color:white;
			background-color:$green;
			background-image:url(assets/img/hero-imgs/hero-light-bg.jpg);
			background-size:cover;
			.wrapper{
				padding-bottom:0;
			}
			.parrot{
				@include transition(all 1.5s ease-out);
				-webkit-transition-delay: 1s; /* Safari */
				transition-delay: 1s;
				position: absolute;
				right:150px;
				top: 120px;
				z-index: 1;

				&.come-in,
				&.already-visible {
					right:300px;
				}

			}
			@media only screen and (max-width:1350px) {
				.parrot,
				.parrot.come-in,
				.parrot.already-visible{
					right:5%;
				}
			}
		}
		.bottom-section{
			text-align: center;
			position: relative;
			background-color:$off-white;
			.wrapper{
				padding-bottom:12rem;
			}
			h3{
				font-size: 3rem;
				margin-top:8rem;
				z-index: 1;
				position: relative;
				text-shadow: 1px 1px 1px $off-white,
							 -1px -1px 1px $off-white;
			}
		}
		.ele{
			@include transition(all 2.5s ease-out);
			-webkit-transition-delay: 1s; /* Safari */
			transition-delay: 1s;
			position: absolute;
			bottom:0;
			left:-100px;

			&.come-in,
			&.already-visible {
				left:0;
			}
		}
		.pricing-table{
			position: relative;
			padding:0;
			margin:0;
			margin-top:-355px;
			margin-bottom:5rem;
			border-radius: 2.4rem;
			box-shadow: 50px 50px 100px 20px rgba(0,0,0,0.12);
			//overflow: hidden;
			ul{
				padding:0;
				margin:0;
			}
			hr{
				margin:0;
				background:$black;
			}
			header{
				padding-bottom:3rem;
				h5{
					margin:0;
				}
				.cost{
					font-size: 10rem;
					line-height: 10rem;
					margin-top: -15px;
					padding-bottom:10px;
				}
				.currency{
					font-size: 4rem;
					vertical-align: text-top;
				}
			}
			footer{
				position: absolute;
				bottom:3rem;
				left:0;
				width:100%;
			}
			.butterflies{
				position: absolute;
				left: -70px;
				top:80px;
			}
			.left,
			.center,
			.right{
				display: table-cell;
				position: relative;
				background: white;
				padding:4rem 3rem 8rem 3rem;
				width:33.33%;
			}
			.center,
			.right{
				color: white;
				hr{
					background:white;
				}
			}
			.left{
				border-radius: 2.4rem 0 0 2.4rem;
				background: #b9e140;
			}
			.center{
				background: #8bbf12;
			}
			.right{
				background-color:#547e16;
				border-radius: 0 2.4rem 2.4rem 0;
			}
			.features{
				padding-top:1.5rem;
				padding-bottom:2rem;
				li{
					list-style-type:none;
					line-height: 3rem;
					&:first-of-type{
						padding-bottom:0.8rem;
						h5{
							margin:0;
						}
					}
				}
			}
		}

		@media only screen and (max-width:$promo-break-point) {
			background-color:$green;
			background-image:url(assets/img/hero-imgs/hero-light-bg.jpg);

			background-repeat:no-repeat;
			-webkit-background-size:cover;
			-moz-background-size:cover;
			-o-background-size:cover;
			background-size:cover;
			background-position:center;
			.top-section{
				background-color:transparent;
				background-image:none;
			}
			.bottom-section{
				background-color:transparent;
				.wrapper{
					padding-bottom:0px;
				}
				h3{
					color:white;
					text-shadow: none;
				}
			}
			.ele{
				position: relative;
				width:100%;
				max-width:519px;
				margin-bottom:-4px;
			}
			.pricing-table{
				box-shadow:none;
				padding-left:1.6rem;
				padding-right:1.6rem;
				.left,
				.center,
				.right{
					display: block;
					width:100%;
					max-width:400px;
					margin: 4rem auto 5rem auto;
					border-radius: 2.4rem;
				}
				.parrot{

					position: absolute;
					right: -120px;
					top:80px;
				}
				.butterflies{
					left: -30px;
				}
			}
		}

	}
}

