
.what{
	.parade{
		position: absolute;
		bottom:0;
		left:50%;

		&.afroman {
			@include transition(all 1s ease-out);
			z-index: 3;
			transform-origin: 100% 100%;
			@include transform(scale(.95));
			@media only screen and (min-width:$promo-break-point+1) {
				margin-left:-620px;//-500px;
			}
		}
		&.confetti {
			@include transition(all 2s ease-out);
			//-webkit-transition-delay: 1s; /* Safari */
			//transition-delay: 1s;
			margin-left:-720px;
			transform-origin: 50% 100%;
			@include transform(scale(.8));
		}

		&.butterfly {
			z-index: 2;
			bottom: -180px;
			margin-left: -820px;

//			-webkit-animation: float 14s linear infinite;
//			   -moz-animation: float 14s linear infinite;
//				 -o-animation: float 14s linear infinite;
				animation: float 14s linear infinite;
		}
		&.come-in,
		&.already-visible {
			&.afroman,
			&.confetti {
				@include transform(scale(1));
			}
		}
	}

	@media only screen and (max-width:$promo-break-point) {
		.parade.afroman {
			height: 100%;
		}

		.parade.come-in,
		.parade.already-visible {
			&.afroman {
				margin-left:-500px;
			}
		}
	}
	@media only screen and (max-width:$mobile-break-point+100) {
		.hero{
			h1{
				font-size:8rem;
			}
		}
		.hero-container .section-spot-dark{
			position: relative;
		}
		.parade {
			&.come-in.afroman,
			&.already-visible.afroman {
				margin-left:-350px;
			}
			&.confetti {
				bottom: -70px;
			}
			&.butterfly{
			    bottom: -280px;
			}
		}
	}

	.four-pillars{
		.wrapper {
			padding-top:5rem;
			padding-bottom:12rem;
		}
		.image-container{
			float:left;
			width:30%;
			img{
				max-width: 315px;
				width:100%;
			}
		}
		.copy-container{
			float:right;
			width:70%;
		}
		.copy{
			display: inline-block;
			float: left;
			width:50%;
			padding-right:32px;

			&:nth-child(even){
				padding-right:0;
			}
			h5{
				color: $green;
				margin:0;
			}
		}

		@media only screen and (max-width:$promo-break-point) {
			.wrapper{
				padding-bottom:0;
			}
			.counter{
				margin-left: auto;
				margin-right: auto;
			}
			.copy-container{
				text-align: center;
				float:none;
				width:100%;
				.cf-group{
					float: left;
					width:50%;
					border-top:1px solid $grey;
					margin-top:4rem;
					padding-top:5rem;
					padding-bottom:5rem;
					min-height: 200px;
				}
			}
			.copy{
				color: $green-dark;
				padding-right:0;
				h5,
				a{
					color: $green-dark;
				}
				i.icon{
					font-size: 6rem;
				}
				p{
					margin: 0;
				}
			}
			.image-container{
				text-align: center;
				float:none;
				width:100%;
				overflow: hidden;
				max-height: 500px;
				img{
					max-width: 400px;
					width:100%;
				}
			}
		}

		@media only screen and (max-width:$mobile-break-point+100) {
			.copy-container{
				.cf-group{
					float: none;
					width:100%;
					min-height: 150px;
					padding-bottom:5rem;
					&:last-of-type{
					border-top:none;
					margin-top:0;
					padding-top:0;

					}
				}
			}
		}
	}

	.flag-hr{
		background: transparent;
		position: relative;
		margin-top: -95px;
		margin-bottom: -76px;
		z-index: 1;
		&+section{
			.wrapper{
				padding-top:10rem;
			}
		}
	}

	.balloons-anim{
		position: absolute;
		width:100%;
		margin-top:-72px;
		img{
			-webkit-transition-delay: 1s; /* Safari */
			transition-delay: 1s;
			position: absolute;

			width:50%;
			max-width:500px;
		}
		.R1 {
			@include transition(all 1.5s ease-in-out);
			right:0;
			margin-top:150px;
		}
		.R2 {
			@include transition(all 1.2s ease-in-out);
			right:0;
			margin-top:250px;

		}
		.R3 {
			@include transition(all 1s ease-in-out);
			right:0;
			margin-top:200px;
		}

		.L1 {
			@include transition(all 1.5s ease-in-out);
			left:0;
			margin-top:150px;
		}
		.L2 {
			@include transition(all 1.2s ease-in-out);
			left:0;
			margin-top:250px;
		}
		.L3 {
			@include transition(all 1s ease-in-out);
			left:0;
			margin-top:200px;
		}

		@keyframes bobbing-balloon-1 {
			0% {@include transform(translate(0, 10px));}
			50% {@include transform(translate(0, 0));}
			100% {@include transform(translate(0, 10px));}
		}
		@keyframes bobbing-balloon-2 {
			0% {@include transform(translate(0, -10px));}
			50% {@include transform(translate(0, 0));}
			100% {@include transform(translate(0, -10px));}
		}

		&.come-in,
		&.already-visible {
			.R1, .R2, .R3, .L1, .L2, .L3 {
				margin-top:0px;
			}
			.R1, .L1 {
				animation: bobbing-balloon-1 infinite 6s;
			}
			.R2, .L2, {
				animation: bobbing-balloon-2 infinite 4s;
			}
			.R3, .L3 {
				animation: bobbing-balloon-1 infinite 4s;
			}
		}
		@media only screen and (max-width:$promo-break-point) {
			margin-top:-50px;
		}
	}

	@media only screen and (max-width:500px) {
		.balloons-anim{
			&.come-in,
			&.already-visible {
				.R1, .R3, .L2, .L3{
					display: none;
				}
				img{
					width:100%;
				}
				.L1{
					max-width:400px;
				}
			}
		}
		h2{
			position: relative;
		}
	}

	@media only screen and (max-width:$promo-break-point) {
		h2.large {
			font-size: 4rem;
		}
	}

}
