
.who{

	.parade{
		position: absolute;

		&.parrot-with-banner {
			@include transition(all 2s ease-in-out);
			margin-left:0;
			top:30%;
			z-index: 2;
		}
		&.hand-stand {
			@include transition(all 1.5s ease-out);
			-webkit-transition-delay: 1s; /* Safari */
			transition-delay: 1s;
			margin-left:-220px; // -300px;
			margin-top: -70px;
			z-index: 2;
			transform-origin: 50% 100%;
			animation: rock-girl infinite 5s;
			bottom: -57px;

			@keyframes rock-girl {
				0% {
					@include transform(rotate(-0.6deg));
				}
				50% {
					@include transform(rotate(0.4deg));
				}
				100% {
					@include transform(rotate(-0.6deg));
				}
			}
		}
		&.confetti {
			@include transition(all 2s ease-out);
			-webkit-transition-delay: 1s; /* Safari */
			transition-delay: 1s;
			bottom:0;
			left:50%;
			margin-left:-720px;
			transform-origin: 50% 100%;
			@include transform(scale(.8,.8));
		}

		&.come-in,
		&.already-visible {
			&.parrot-with-banner {
				margin-left:-420px;
			}
			&.hand-stand {
				//margin-left:-360px;
			}
			&.confetti {
				@include transform(scale(1,1));
			}
		}
	}
	@media only screen and (max-width:$promo-break-point) {
		.parade.hand-stand {
			height: 350px;
			bottom: -45px;
			right: -150px;
		}
		.parade.parrot-with-banner {
			height: 120px;
			top:30%;
		    left: auto;
		    right: 55%;
		}
	}
	@media only screen and (max-width:500px) {
		.parade.hand-stand,
		.parade.parrot-with-banner {
			display: none;
		}
	}

	.testimonial-section{
		position: relative;
		overflow: hidden;

		.kc-nav-button { // nav btns
			border-top-color:white;
		}
	}

	.big-bird{
		position: absolute;
		z-index: 3;
		top:10px;
		left:50%;
		margin-left: 200px;

		-webkit-animation: floater 14s linear infinite;
		   -moz-animation: floater 14s linear infinite;
			 -o-animation: floater 14s linear infinite;
				animation: floater 14s linear infinite;

		@-webkit-keyframes floater {
			from { -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg); }
			to   { -webkit-transform: rotate(-360deg) translateX(50px) rotate(360deg); }
		}
		@-moz-keyframes floater {
			from { -moz-transform: rotate(0deg) translateX(50px) rotate(0deg); }
			to   { -moz-transform: rotate(-360deg) translateX(50px) rotate(360deg); }
		}
		@-o-keyframes floater {
			from { -o-transform: rotate(0deg) translateX(50px) rotate(0deg); }
			to   { -o-transform: rotate(-360deg) translateX(50px) rotate(360deg); }
		}
		@keyframes floater {
			from { transform: rotate(0deg) translateX(50px) rotate(0deg); }
			to   { transform: rotate(-360deg) translateX(50px) rotate(360deg); }
		}
		@media only screen and (max-width:1000px) {

			left:auto;
			margin-left: auto;
			right:0;
			top:30px;
			width:300px;
		}
		@media only screen and (max-width:600px) {
			width:200px;
		}
	}

	.our-clients{
		.image-container{
			float: left;
			width: 48%;
			img{
				max-width:100%;
				transform-origin: 50% 100%;
				animation: rock infinite 5s;

				@keyframes rock {
					0% {
						@include transform(rotate(-0.4deg));
					}
					50% {
						@include transform(rotate(1.6deg));
					}
					100% {
						@include transform(rotate(-0.4deg));
					}
				}

			}
		}
		.copy-container{
			float: left;
			width: 52%;
		}

		@media only screen and (max-width:$promo-break-point) {
			.image-container,
			.copy-container{
				text-align: center;
				float: none;
				width: 100%;
			}
			.image-container{
				max-width: 400px;
				margin:0 auto;
			}
			.counter{
				margin-left:auto;
				margin-right:auto;
			}
		}
	}

}
