
.why{
	h2{
 		sub{
			bottom: .4em;
			font-size:70%;
		}
	}
	.hero {
		padding-bottom: 6.4rem;

		h1{
			font-size: 13rem;
			line-height: 13rem;
			@include transform(rotate(-5deg));

			margin-top:0px;
			white-space: nowrap;
		}
		.parade{
			position: absolute;
			left:50%;
			margin-left:-720px;

			@include transition(all 2s ease-out);
			-webkit-transition-delay: 1s; /* Safari */
			transition-delay: 1s;

			&.man{
				bottom:0;
				height: 120%;
			}
			&.birds-L {
				top:-25px;
				margin-left:-600px;
				height: 130%;
			}
			&.birds-R {
				top:-25px;
				margin-left:-750px;
				height: 130%;
			}
			&.confetti {
				bottom:0;
				transform-origin: 50% 100%;
				@include transform(scale(.8,.8));
			}

			&.come-in,
			&.already-visible {
				&.birds-L,
				&.birds-R {
					margin-left:-650px;
				}
				&.confetti {
					@include transform(scale(1,1));
				}
			}
		}
		@media only screen and (max-width:$promo-break-point) {
			h1{
				margin-left: 10%;
			}
			.parade{
				&.man{
						margin-left:-550px;
				}
				&.birds-L,
				&.birds-R {
					margin-left:-500px;
				}
				&.come-in,
				&.already-visible {
					&.birds-L,
					&.birds-R {
						margin-left:-500px;
					}
				}
			}
		}
		@media only screen and (max-width:600px) {
			padding-bottom:0;
			.wrapper{
				padding-top:0;
			}
			h1{
				white-space: normal;
				font-size:10rem;
				line-height: 11rem;
				margin-left: 20%;
				margin-top: 40px;
				margin-bottom: 70px;
			}
			.parade{
				&.man,
				&.birds-L,
				&.birds-R{
					width:auto;
					height: 300px;
				}
				&.man{
					margin-left:-75%;
				}
				&.birds-L,
				&.birds-R {
					margin-left:-65%;
				}
				&.confetti {
					@include transform(scale(0.5));
				}
				&.come-in,
				&.already-visible {
					&.birds-L,
					&.birds-R {
						margin-left:-65%;
					}
					&.confetti {
						@include transform(scale(0.6));
					}
				}
			}
		}
		@media only screen and (max-width:490px) {
			.wrapper{
				padding-top:2rem;
			}
			h1{
				margin-left:auto;
				margin-top: 0px;
				margin-bottom: 0px;
				//font-size: 16rem;
			}
			.parade.man{
				display: none;
			}
		}
	}
	.testimonial-card{
		margin-top:60px;
	}
	.promo-section{
		.wrapper{
			padding-top:8rem;
			padding-bottom:8rem;
		}
		.promo-col:first-of-type .button{
			margin-top:2rem;
		}
	}
	.promo-happy .promo-happy-img{
		position: absolute;
		height: 130%;
		top:-10%;
		width: 112%;
		left:-6%;
	}
	.promo-trophy .promo-trophy-img{
		position: absolute;
		top:-130px;
		right:-10px;
	}
	.promo-books .promo-books-img{
		position: absolute;
		top:-217px;
		right:-120px;
	}
	.promo-vine .promo-vine-img{
		position: absolute;
		top:-6.5%;
		left:-4.5%;
		width:108%;
	}
}
