.accordion{
    position: relative;
    input[id^='cp-acc-'],
    input[id^='acc-'],
    input[name^='acc-']{
        display: none;
    }
    label {
        cursor: pointer;
    }
    article {
        max-height:0px;
        overflow:hidden;
        @include transition(all .3s ease);//closing
    }
    input:checked {
        ~ article {
            max-height: 800px;
            @include transition(all .6s ease);//opening
        }
        ~ label .title .icon,
        ~ .title .icon{
            transform:rotate(90deg);
        }
    }
    .title .icon{
        vertical-align: middle;
        @include transition(all .5s ease-in-out);
    }
}
