button,
input[type=submit],
.button {
	position: relative;
	cursor: pointer;
	display:inline-block;
	padding:10px 30px;
	text-transform: uppercase;
	text-align:center;
	text-decoration:none;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 2px;
	border-radius: 40px;
	border:2px solid transparent;
	outline: 0;
	overflow:hidden;
	z-index: 1;
	cursor: pointer;
	@include transition(all 0.3s ease-in-out);
	&:hover{
		@include shadow(2);
	}
	&.primary,
	&.primary:hover,
	&.primary-alt:hover {
		color:white;
		border-color:$green;
		background:$green;
	}
	&.primary-alt {
		color:$black;
		border-color:$green;
		background:none;
	}
	&.secondary,
	&.secondary:hover,
	&.secondary-alt:hover {
		color:white;
		border-color:$yellow;
		background:$yellow;
	}
	&.secondary-alt {
		color:$black;
		border-color:$yellow;
		background:none;
	}
	&.primary-alt,
	&.secondary-alt {
		&.white{
			color:white;
		}
	}
}
