
.wrapper {
	display: table;
	//position: relative;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 5rem 1.6rem;
}

.section-spot-dark{
	background: $green-dark;
	color: white;
}

.section-spot{
	background-color:$green;
	color:white;
}

.section-spot-light{
	background-color:$green-light;
	color:white;
}

.section-light{
	background-color:$grey-light;
}

.section-off-white{
	background-color:$off-white;
}

.contact-panel{
	position: relative;
	text-align:center;
	.wrapper{
		max-width: 900px;
		padding-bottom: 50px;
	}
	.submit-input{
		input[type=email]{
			display: inline-block;
		}
		input[type=submit]{
			display: inline-block;
		}
	}
	.contact-form{
		white-space: nowrap;
		input.email{
			box-sizing: border-box;
			display:inline-block;
			padding: 16px 32px;
			border-radius: 40px 0 0 40px;
			width:calc(100% - 200px);
			border:1px solid darken($grey-dark,10%);
			height: 53px;
			font-size: 14px;
		}
		button{
			border-radius: 0 40px 40px 0;
			padding: 16px 32px;
			color: white;
			background: $green;
			border:none;
			margin-left: -6px;
			width:200px;
			height: 53px;
			&:hover{
				background: $yellow;
			}
		}
	}
}

.real-time-info{
	background-color:$spot-color;//$green-dark;
	width:100%;
	color:white;
	text-transform: uppercase;
	padding:12px 0;
	font-size: .9em;
	.wrapper{
		padding-bottom:0;
	}
	.icon{
		vertical-align: bottom;
		color: $yellow;
		font-size: 2.1rem;
	}
	.alignleft {
		float: left;
		width:100px;
		text-align:left;
	}
	.aligncenter {
		float: left;
		width:calc(100% - 200px);
		text-align:center;
	}
	.alignright {
		float: right;
		width:100px;
		text-align:right;
	}

	@media only screen and (max-width:$promo-break-point) {
		.alignleft,
		.alignright {
			display: none;
		}
		.aligncenter {
			width:100%;
		}
	}
}

.icon-card{
	width:25%;
	float:left;
	padding:0 0.8rem;
	h5{
		font-size: 2rem;
		white-space: nowrap;
		margin:0.8rem 0;
	}
	p{
		margin-top: 0;
	}
}

.promo-section{
	position: relative;
	.promo-col{
		position: relative;
		width:50%;
		padding-right:2rem;
		padding-left:2rem;

		&:first-of-type .counter{
			margin-bottom:3.5rem;
		}
		@media only screen and (max-width:$promo-break-point) {
			float:none;
			width:100%;
			padding-right:0;
			padding-left:0;
		}
	}
}

.hero-container{
	overflow: hidden;
	position: relative;
}

.hero {
	color:white;
	text-align: center;

	&.bg-scroll-img{
		//background-attachment: initial;
		background-color: $hero-bg-color;
		background-image:url(../img/hero-imgs/hero-bg.jpg);
		&:before{
			background:none;
		}
	}
}
