
.main-footer {
	background:$grey;
	.wrapper{
		padding-top:3rem;
		padding-bottom:3rem;
		max-width: 950px;
	}
	.copy-block{
		width:40%;
		float:left;
		padding-right:8px;
		padding-left:8px;
		text-align: center;

		&:first-of-type{
		    text-align: left;
			width:30%;
		}
		&:last-of-type{
		    text-align: right;
			width:30%;
		}
		h5{
			font-size:2rem;
			margin:0;
		}
		p{
			font-size:14px;
		}
		@media only screen and (max-width:$mobile-break-point+100) {
			width:100%;
		    text-align: left;
			&:first-of-type,
			&:last-of-type{
				width:100%;
		    	text-align: left;
			}
		}
	}
	.brand {
		img{
			vertical-align: top;
		}
	}
	.social-icons{
		margin-top:2rem;
		@media only screen and (max-width:600px) {
			margin-bottom:2rem;
		}
	}
	.copyright-notice{
		font-size: 1.2rem;
		background:white;
		text-align: center;
		text-transform:uppercase;
		padding: 2rem;
		-webkit-box-shadow: 0 1px 3px 3px rgba(0,0,0,0.1);
		box-shadow: 0 1px 3px 3px rgba(0,0,0,0.1);
	}
}
