.post-summary{
	background:white;
	float:left;
	width:100%;
	max-width:300px;
	height:370px;
	overflow: hidden;
	margin:10px;
	@include shadow(1);
	@include transition(all .3s ease-in-out);

	&:hover{
		@include shadow(2);
	}
	.thumbnail{
		height: 200px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url('css/assets/img/placeholder.jpg');
	}
	.excerpt{
		padding: 16px 16px 0 16px;
		max-height: 255px;
		overflow: hidden;
		h5{
			margin:0;
			max-height: 120px;
		}
		p{
			margin-top:8px;
			margin-bottom:6px;
		}
	}
	.post-info{
		padding-left: 16px;
	}

	@media only screen and (max-width:999px) {
		max-width:48%;
		margin:1%;
		.excerpt {
			max-height: 200px;
		}
	}
	@media only screen and (max-width:600px) {
		max-width:100%;
		margin:0;
		margin-bottom:16px;
		.excerpt {
			max-height: 195px;
		}
	}
}

// stacked-posts WP recent posts sidebar
.stacked-posts{
	.widget-title{
		margin-top:0px;
		margin-bottom:16px;
	}
	ul{
		padding-left:0;
	}
	.post-summary{
		height: auto;
		max-width: 400px;
		float:none;
		margin-left: 0;
		box-shadow:none;
		margin-top: 0px;
		margin-bottom: 35px;
		&:last-of-type {
			margin-bottom: 0;
		}
		@media only screen and (max-width:660px) {
		    max-width: 100%;
		}
	}
	.post-title{
		font-size: 1.6rem;
	}
	.thumbnail{
		height:80px;
		width:80px;
		float: left;
	}
	.excerpt{
		//height:75px;
		//overflow:hidden;
		padding-top:0px;
	}
}
// end: stacked-posts WP recent posts sidebar


// post bread-crumb-trail
.bread-crumb-trail{
	white-space: nowrap;
    display: table;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0 4px 0;
    font-size:80%;
	a,
	.breadcrumb_last { // arrow in post bread-crumb-trail
		text-transform:uppercase;
	    background-color:  white;
		height: 30px;
		line-height: 28px;
		border: 1px solid $green-light;
		position: relative;
		display: inline-block;
		margin-right:4px;
		margin-bottom:6px;
		text-align:center;
		padding: 0 32px 0 40px;
		font-weight: 700;
	}
	a:after,
	a:before,
	.breadcrumb_last:after,
	.breadcrumb_last:before {
		content: '';
		position: absolute;
		top: -1px;
		width: 0;
		height: 0;
		border: 15px solid transparent;
	}
	a:after {
		right: -27px;
		border-left: 12px solid white;
		z-index: 9;
	}
	a:before {
		right: -28px;
		border-left: 12px solid $green-light;
		z-index: 8;
	}
	.breadcrumb_last:after{
		z-index: 2;
		left:-2px;
		border-left: 12px solid $grey-light;
	}
	.breadcrumb_last:before{
		z-index: 1;
		left:-1px;
		border-left: 12px solid $green-light;
	}
	span[typeof~="v:Breadcrumb"]{
	    position:relative;
	}
	span[rel="v:child"]:after,
	span[rel="v:child"]:before,
	> span > span[typeof="v:Breadcrumb"]:after,
	> span > span[typeof="v:Breadcrumb"]:before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border: 15px solid transparent;
	}
	span[rel="v:child"]{
		&:before {
			z-index: 1;
			left:0;
			border-left: 12px solid $green-light;
		}
		&:after {
			z-index: 2;
			left:-1px;
			border-left: 12px solid $grey-light;
		}
	}
	> span > span[typeof="v:Breadcrumb"] {
		&:after {
			right: -22px;
			border-left: 12px solid white;
			z-index: 99;
		}
		&:before {
			right: -23px;
			border-left: 12px solid $green-light;
			z-index: 99;
		}
	}
}
// end: post bread-crumb-trail

// categories
.categories{
	text-align: center;
	label{
		margin-bottom: 10px;
	}
	article{
		margin-bottom: 30px;
		br {
			display: none;
		}
		a{
			@extend .button;
			@extend .primary-alt;
		}
	}
}
// end: categories

// next and previous post buttons
.next-prev-btns{
    padding-top: 0;
	//padding-bottom: 1.6rem;
    .prev-btn{
    	padding-top: 1.6rem;
    }
    .next-btn{
    	padding-top: 1.6rem;
    	text-align: right;
    }
}
// next and previous post buttons

// WP popular posts plugin
.popular-posts{
	h4{margin-top:0;}
}
ul.wpp-list {
    list-style-type: none;
    counter-reset: li-counter;
    margin-top:2em;
    @extend .cf-group;

    .wpp-post-title{
    	display: inline-block;
    	width:calc(100% - 80px);
    	max-height:40px;
    	overflow: hidden;

		@media only screen and (max-width:$promo-break-point) {
    		max-height:36px;
		}
    }
    .wpp-thumbnail{
    	margin-right:1em;
    }
    li{
    	width:50%;
        overflow: visible;
        position: relative;
        margin-bottom: 20px;
        padding-left: 1em;
        min-height: 3em;
        height: 64px;
        clear: none;
        border-left: 2px solid darken($grey, 5%);
    }
    li:before {
        position: absolute;
        left: -1em;
        font-size: 3em;
        line-height: 1;
        color: darken($grey, 5%);
        content: counter(li-counter);
        counter-increment: li-counter;
    }
    li span.wpp-stats,
    .wpp-views{
        display: block;
    }

	li:nth-child(odd) {
    	width:calc(50% - 50px);
		float: left;
	}
	li:nth-child(even) {
		float: right;
	}
	@media only screen and (max-width:600px) {
		li:nth-child(odd),
		li:nth-child(even) {
			float: none;
			width:100%;
		}
	}
}
// end: WP popular posts plugin
