.search-results{
	.bg-scroll-img .wrapper{
		padding-top:0;
		padding-bottom:0;
	}
	.stacked-posts .thumbnail{
		height: 130px;
		width: 130px;
	}
	.post-summary .excerpt{
		max-height: none;
	}
}
.search-container{
	position: relative;
	float:right;
	white-space: nowrap;
	max-width:calc(50% - 30px);
	input.search{
		box-sizing:border-box;
		//width: 80px;
		width:0;
		max-width:100%;
		outline:none;
		border-color: transparent;
		border-radius:40px;
		padding-right: 10px;
		padding-left: 40px;
		margin-bottom:0;
		margin-right:0;
		@include transition(width .5s ease);
	}
	&:not(.mobile) i.icon{
		position: absolute;
		top: 28px;
		left: 14px;
	}
	button{
		position: absolute;
		z-index: 1;
		right:0;
		top:0;
		margin-top:26px;
		margin-right:8px;
		color: lighten($black, 30%);
		border:none;
		background:none;
	}
	input.search:focus,
	input.search:active,
	&:hover input.search{
		width: 210px;
		border: 1px solid $grey;
		 + button{
			color: $black;
		}
	}
	&.mobile{
		display: none;
	}
	@media only screen and (max-width:$nav-break-point) {
		display: none;
		&.mobile{
			display: block;
		}
		button{
			margin-top:12px;
		}
		max-width: 100%;
		width:100%;
		input.search:focus,
		input.search:active,
		&:hover input.search,
		input.search{
			//margin-top: 8px;
			width:100%;
			margin:0;
			padding: 0 1.8rem;
			line-height: 45px;
			border-radius:0;
			border:none;
			font-size:14px;
		}
	}
}
.bop-nav-search{
	.screen-reader-text{
		display: none;
	}
	input[type="text"]{
		margin:0;
		border-radius: 0;
		width: 190px;
	}
	input[type="submit"]{
		margin:0;
		border-radius: 0;
		text-transform: uppercase;
		margin-top: -45px;
		width: 90px;
		float: right;
	}
}
@media only screen and (min-width:$nav-break-point) {
	.bop-nav-search{
		display: none;
	}
}
