
.testimonial-section{
	text-align: center;

	.wrapper{
		padding-bottom: 8rem;
	}
	// carousel
	.kc-wrap{
		overflow: visible;
		padding-bottom: 40%;
		.cc-decoration{
			opacity: .2;
			&.kc-shadow-left{
				opacity: .06;
			}
		}
		.kc-nav-button { // nav btns
			@extend .counter;
			border-radius: 0;
			border-left: none;
			border-right: none;
			border-bottom: none;
			height: 0;
			border-top-color:$green-dark;
			opacity: .3;
			margin-right: 20px;
		}
		.kc-nav-button.active { // active nav button
			opacity: 1;
		}
	}
	.kc-wrap div:last-child:not([class^="kc"]){
		display: none!important;
	}
	// end: carousel

	.testimonial-card{
		position: absolute;
		margin-top:-24px;
		box-shadow: 30px 30px 80px 0px rgba(0,0,0,0.07);
	}
}
