
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	position: relative;

	@media only screen and (max-width:$promo-break-point) {
		font-size:52.5%;
	}
}

body {
	background: white;
	color: $black;
	font-family: $font-open;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.5em;
	position: relative;

	&.fixed-nav { // class to your nav to always be at the top of the page on scroll, sets appropriate padding to the top to account for the extra space
		padding-top: 125px;
		@media only screen and (max-width:$nav-break-point) {
			padding-top: 77px;
		}
		.main-header {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 500;
		}
	}
}

html.locked, body.locked {
	width: 100%;
	height: 100%;
	position: fixed; // More reliable than relative!
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6, {
	font-weight: 300;
	line-height: 1.3em;
}

h1 {
	font-family: reis_font;
	font-size:12rem;
	margin:2rem 0;
}

h2 {
	font-family: reis_font;
	font-size:5rem;
	margin-bottom: 3.5rem;
	margin-top:0;
}

h3 {
	font-family: $font-cantata;
	font-size:2.5rem;
}

h4 {
	font-size:2.25rem;
}

h5 {
	font-family: $font-cantata;
	font-size:2.25rem;
}

p{
	font-size: 13px;
	line-height: 23px;
}

* {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

a {
	color: $link-color;
	text-decoration:none;
}
