/**
 * VARIABLES
 *
 */

/* fonts */
@import url(https://fonts.googleapis.com/css?family=Lato|Open+Sans:300,500,600,700|Cantata+One:300,500,600,700);
//@import url(https://fonts.googleapis.com/css?family=Lato:300,500,600,700|Open+Sans:300,500,600,700|Cantata+One:300,500,600,700);
$font-open: 'Open Sans', Helvetica, Arial, sans-serif;
$font-lato: 'Lato', sans-serif;
$font-cantata: 'Cantata One', serif;
//$font-palatino: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;

@font-face {
	font-family: reis_font;
	src: local(reis_font),
         url('assets/font/REIS-Regular.woff') format('woff');
         //url('font/REIS-Regular.ttf') format('truetype'),
         //url('font/REIS-Regular.woff2') format('woff2');
}

$grey:#ececec;
$grey-dark:#ccc;
$grey-light:#edf2f2;

$green: #71a61c;
$green-dark: #215636;
$green-light: #91bf47;

$yellow:#fdd600;
$black:#333;
$off-white:#f6f6f6;

$spot-color: $green;
$link-color: $green;
$hero-bg-color: #45781f;

$nav-break-point: 950px;
$promo-break-point: 800px;
$mobile-break-point: 400px;
