
.what{

	.hero-container{
		overflow: hidden;
	}
	.hero {
		color:white;
		text-align: center;
		padding-bottom: 6.4rem;

		&.bg-scroll-img{
			//background-attachment: initial;
			background-color: #45781f;
			background-image:url(../img/hero-imgs/hero-bg.png);
			&:before{
				background:none;
			}
		}

		h1{
			font-size: 18rem;
			line-height: 16rem;
			@include transform(rotate(-10deg));
		}

		.parade{
			position: absolute;
			bottom:0;
			left:50%;

			&.afroman {
				@include transition(all 1s ease-out);
				-webkit-transition-delay: 1s; /* Safari */
				transition-delay: 1s;
				z-index: 3;
				margin-left:-500px;
			}
			&.confetti {
				@include transition(all 2s ease-out);
				-webkit-transition-delay: 1s; /* Safari */
				transition-delay: 1s;
				margin-left:-720px;
				transform-origin: 50% 100%;
				@include transform(scale(.8));
			}

			&.come-in,
			&.already-visible {
				&.afroman {
					margin-left:-720px;
				}
				&.confetti {
					@include transform(scale(1));
				}
			}
		}
	}

	.four-pillars{
		.wrapper {
			padding-top:5rem;
			padding-bottom:3rem;
		}
		.image-container{
			float:left;
			width:30%;
			img{
				max-width: 315px;
				width:100%;
			}
		}
		.copy-container{
			float:left;
			width:70%;
		}
		.copy{
			display: inline-block;
			float: left;
			width:50%;
			padding-right:16px;

			&:nth-child(even){
				padding-right:0;
			}
			h5{
				color: $green;
				margin:0;
			}
		}
	}

	.balloons-anim{
		position: absolute;
		width:100%;
		margin-top:-72px;
		img{
			-webkit-transition-delay: 1s; /* Safari */
			transition-delay: 1s;
			position: absolute;
		}
		.R1 {
			@include transition(all 1.5s ease-in-out);
			right:0;
			margin-top:150px;
		}
		.R2 {
			@include transition(all 1.2s ease-in-out);
			right:0;
			margin-top:250px;

		}
		.R3 {
			@include transition(all 1s ease-in-out);
			right:0;
			margin-top:200px;
		}

		.L1 {
			@include transition(all 1.5s ease-in-out);
			left:0;
			margin-top:150px;
		}
		.L2 {
			@include transition(all 1.2s ease-in-out);
			left:0;
			margin-top:250px;
		}
		.L3 {
			@include transition(all 1s ease-in-out);
			left:0;
			margin-top:200px;
		}

		@keyframes bobbing-balloon-1 {
			0% {@include transform(translate(0, 6px));}
			50% {@include transform(translate(0, 0));}
			100% {@include transform(translate(0, 6px));}
		}
		@keyframes bobbing-balloon-2 {
			0% {@include transform(translate(0, -6px));}
			50% {@include transform(translate(0, 0));}
			100% {@include transform(translate(0, -6px));}
		}

		&.come-in,
		&.already-visible {
			.R1, .R2, .R3, .L1, .L2, .L3 {
				margin-top:0px;
			}
			.R1, .L1 {
				animation: bobbing-balloon-1 infinite 6s;
			}
			.R2, .L2, {
				animation: bobbing-balloon-2 infinite 4s;
			}
			.R3, .L3 {
				animation: bobbing-balloon-1 infinite 4s;
			}

		}
	}
}
